[Bb]in/
[Oo]bj/

.vs/
.idea/

*.nupkg
.nuget/

*.user
*.suo
*.sln.docstates

*.db
*.sqlite

*.orig

.env

nomenclature*.json
prices*.json
types*.json
remnants*.json
stocks*.json

init_data.py

node_modules/